*{
    margin: 0;
    padding: 0;
}


.user-info-section{
    width: 1000px;
    height: 20em;
    display:flex;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 0 50px 0 0;
}

.user-img-section {
    height:200px;
    width:250px;
    margin-left: 5%;
    margin-top: 2.7%;
    margin-bottom: 0;
}

.user-img-section img{
 border-radius: 50%;
 width: 90%;
 height: 100%;
}

.user-characteristics{
  display:flex;
    color: white;
    font-family: 'Ubuntu Condensed', sans-serif;
  flex-direction: column;
  justify-content:center;
    margin-left: 50px;
}

.user-characteristics h3{
    padding-bottom: 10px;
}

.user-characteristics h3.imena{
    padding-top: 0;
    padding-bottom: 26px;
}