.SearchBar {
    display: flex;
    padding-top: 50px;
    margin-bottom: 15px;
}

.SearchBar input {
    width: 900px;
    height: 50px;
    margin-left: 5px;
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 13px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    background-color: white;
    display: block;
    margin-top: 0;
}

.SearchBar input:focus {
    outline: none;
}

.SearchButton {
    height: 50px;
    background-color: #f011b4;
    text-align: center;
    transition: background-color .25s;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    width: 130px;
    margin-right: 12px;
    border-radius: 50px;
    font-size: 14px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.SearchButton:hover {
    background-color: rgb(106, 5, 231);
}